body{
    padding: 0;
    top: 0;
    margin: 0;
}
body{
    background-color: black;
}
header{
    background-color: purple;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 2vw;
    z-index: 2;
    align-items: center;
    height: 8.6vh;
    gap: 2vw;
}
.div1{
    color: rgb(229, 0, 229);
    display: flex;
    text-align: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    margin-top: 170px;
}
p{
    margin-left: 30px;
    font-size: larger;
}
.div1 img{
    border-radius: 10px;
}