body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
  }
  html{
    scroll-behavior: smooth;
  }
    header {
    background-color: purple;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 0 0 0 2vw;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  }
  a{
    text-decoration: none;
    color: white;
  }
  
  header h1 {
    margin: 0;
    font-size: 2vw;
    letter-spacing: 0.1vw;
  }
  
  /* HEADER*/
  #topicos {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin: 0;
    width: 48vw;
  }
  
  #topicos li a {
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  #topicos li a:hover {
    color: #ffb6ff;
    text-shadow: 0 0 2px #ffb6ff;
  }
  
  /* CONTEUDO */
  main, h2, p, ol, ul, img {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  
  h2 {
    margin-top: 10vh;
    color: #ffb6ff;
    text-align: center;
    font-size: 2vw;
  }
  
  p {
    font-size: 1.1vw;
    text-align: justify;
  }
  
  img {
    display: block;
    margin: 4vh auto;
    border-radius: 20px;
    width: 25vw;
  }
  
  /* OL E UL */
  ol, ul {
    font-size: 1.1vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
  
  li {
    margin-bottom: 0.8vh;
  }
  
  /* LINHA */
  hr {
    border: none;
    border-top: 2px solid #ffb6ff;
    width: 90%;
    margin: 5vh auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  hr:hover {
    opacity: 1;
  }
