body{
    background-color: black;
    padding: 0;
    margin: 0;
    top:0;
    bottom: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 90vh
}
h1{
    
    text-align: center;
    color: white;
    margin-bottom: 4vw;
}
div{
    display: flex;
    width: 52vw;
    justify-content: space-between;
    margin: 0 auto;
}
img{
    border-radius: 10px;
}